{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "rules": {
        "comma-dangle": [2, "only-multiline"],
        "indent": [2, 4, {"SwitchCase": 1}],
        "jsx-quotes": [2, "prefer-double"],
        "new-cap": 0,
        "no-console": "warn",
        "no-unused-vars": [2, { "args": "none" }],
        "object-curly-spacing": 0,
        "quotes": [2, "double", "avoid-escape"],
        "react/display-name": [2, { "ignoreTranspilerName": false }],
        "semi": [2, "never"],
        "space-before-function-paren": 0,
        "spaced-comment": 0
    }
}
